@import url("https://fonts.googleapis.com/css?family=Lato");

.home {
  height: 100vh;
  background-image: linear-gradient(
      to right bottom,
      rgba(213, 51, 105, 0.8),
      rgba(203, 173, 109, 0.8)
    ),
    url(/back.avif);
  background-size: cover;
  background-position: center;
  position: relative;
  display: flex;

  justify-content: center;
  text-align: center;
  padding-top: 16%;
}

.text-box {
  color: #fff;
}

.heading-primary-top {
  display: block;
  font-size: 55px;
  text-transform: uppercase;
  letter-spacing: 20px;
  color: #fff;
}

.heading-primary-bottom {
  display: block;
  font-size: 18px;
  letter-spacing: 7px;
  font-weight: 700;
  margin-top: 24px;
}

.btn {
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
  border-radius: 100px;
  padding: 15px 40px;
  margin-top: 40px;
  cursor: pointer;
  margin-top: 120px;
}

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.btn:active {
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.btn::after {
  content: "";
  display: inline-block;
  width: 100%;
  height: 100%;
  border-radius: 100px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.4s;
}

.btn-call-to-action {
  background-color: #fff;
  color: #777;
  position: relative;
}

.btn-call-to-action::after {
  background-color: #fff;
}

.btn-call-to-action:hover::after {
  transform: scaleX(1.35) scaleY(1.55);
  opacity: 0;
}

.btn-animate {
  animation: moveUp 0.7s cubic-bezier(0.64, 0.01, 0.49, 1.76) 0.75s;
  animation-fill-mode: backwards;
}
.link-box {
  display: flex;
  justify-content: center;
  gap: 24px;
}

@keyframes moveUp {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
